<div class="header">
  <div class="stats header-element">
    Stats: energy: {{ energy }} balance: {{ balance }} time: {{ time }}
  </div>
  <div class="notifications header-element">
    Notifications
  </div>
  <div class="profile-pic header-element">
    ProfilePic
  </div>
</div>
<app-test (testevent)='printtest($event)'></app-test>
<div class="job-container">

</div>
<div class="job-container">

</div>
<div class="job-container">

</div>
<div class="job-container">

</div>
<div class="job-container">

</div>
